// _variables.scss
$color-primary: #DA6612FF;
$color-secondary: #4056A1;
$color-accent: #ff9044;
$color-background: #222425;
$color-text: #FFFFFF;
$font-primary: 'Source Sans 3', sans-serif;
$font-secondary: 'Bungee', sans-serif;
$screen-size-1: 1024px;
