// _variables.scss
$color-primary: #9b480b;
$color-secondary: #1e3e61;
$color-accent: #DA6612FF;
$color-background: #222425;
$color-text: #FFFFFF;
$font-primary: 'Source Sans 3', sans-serif;
$font-secondary: 'Bungee', sans-serif;
