.tweet {
    background-color: #1e3e61;
    border: 1px solid #9a470b;
    padding: 1.10em;
    width: 100%;
    margin-top: 3.5em;
    box-shadow: 0 4px 8px rgba(218, 102, 18, 0);
    transition: box-shadow 0.3s ease;
}

.tweet:hover {
    box-shadow: 0 4px 8px rgb(218, 102, 18);
}

.tweet header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 10px;
    padding-top: .25em;
    padding-bottom: .25em;
}

.tweet header img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: .5em;
}

.tweet header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: .5em;
}

.tweet header strong {
    font-weight: bold;
    color: #333;
}

.tweet header span {
    color: #ffffff;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: .5em;
}

.tweet p {
    font-size: 1em;
    color: #ffffff;
    margin: .5em 0;
}

.tweet footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: #9a470b;
    border-top: 1px solid #ccc;
    padding-top: 1em;
}

.tweet footer .icons i {
    margin-left: .5em;
    color: #9a470b;
    cursor: pointer;
}

.tweet footer .icons i:hover {
    color: #DA6612FF;
}

.avatar {
    border-radius: 50%;
    background-color: white;
    padding: 5px; /* Adjust padding as needed */
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    box-sizing: border-box;
}